$body-bg-color:#870F0F;
$top-banner-bg-color:#454545;
$dead-cell-color: black;
$live-cell-color:#97F20F;
$cell-border-color: gray;
$cell-hover-color:#CBFF7D;
$footer-button-color:#808080;
$font-white:white;