body {
  background-color: #870F0F;
  margin: 0; }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top; }

.top-banner {
  background-color: #454545; }
  .top-banner h1 {
    text-align: center; }

.header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
  font-size: 30px; }

.brand {
  float: none;
  font-size: 30px; }

.nav-align {
  margin-right: 40px;
  color: white; }

.action-button {
  text-align: center; }

.board-holder {
  margin: auto; }

.row {
  display: flex;
  justify-content: center; }
  .row:first-child {
    margin-top: 10px; }

.top {
  margin-top: 10px; }

.buttonMenu {
  background-color: #454545;
  width: 500px;
  display: flex;
  justify-content: center; }

.button {
  background-color: #808080;
  margin: 20px 25px;
  border: 2px solid white; }
  .button a {
    color: white; }

.cell-dead {
  background-color: black; }

.cell {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 1px solid gray; }
  .cell:hover {
    background-color: #CBFF7D; }

.cell-alive {
  background-color: #97F20F; }
