
.cell-dead {
  background-color: $dead-cell-color;
}

.cell {
  margin:0;
  padding: 0;
  width: 20px;
  height: 15px;
  border: 1px solid $cell-border-color;

  &:hover {
    background-color:$cell-hover-color;
  }
}

.cell-alive {
  background-color:$live-cell-color;

}

